.hero_container{
width: 100%;
height: 35.1875rem;

display: flex;
flex-flow: row wrap ;
justify-content: space-around;
padding-top: 5.5rem;
}

.hero_image{
    width: 36.625rem;
height: 35.1875rem;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.hero_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_text{
    width: 40rem;
height: 35.1875rem;
padding-right: 3.38rem;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
}
.wavehandsvg{
    padding-top: 4.3rem;
}

.hero__text{
    padding-top: 4.3rem;
width: 32.4375rem;
height: 13.5rem;
}

.box {
    width: 16rem;
    height: 7rem;
  }
  
  .box .hero-text {
    height: 7rem;
   
    width: 16rem;
  }
  
  .box .text-wrapper {
    color: #f04b6d;
    font-family: "Inria Sans-Bold", Helvetica;
    font-size: 3.125rem;
    font-weight: 700;
    height: 3.75rem;
    
    letter-spacing: 0.5px;
    line-height: normal;
   
    text-align: left;
    
    white-space: nowrap;
  }
  
  .box .professional-web {
    color: #000000;
    font-family: "Inria Sans-Bold", Helvetica;
    font-size: 4.063rem;
    font-weight: 700;
    height: 9.75rem;
  
    letter-spacing: 0.65px;
    line-height: normal;
  
    
    width: 32.53rem;
  }
  
.resume_section{
    padding-left: 0.5rem;
    width: 27.6875rem;
height: 10.25rem;
box-shadow: 0  1.5px 0 rgba(0,0,0,.15);
display: flex;
flex-flow: row;
}


.resume_button{
    width: 11.0625rem;
    height: 4.3125rem;
  align-self: flex-end;
  padding-bottom: 1.12rem;
}

.resume__button {
    background-color:#FF5679; /* Button background color */
    color: #FFF;
    text-align: center;
font-family: "Inter-SemiBold", Helvetica;
font-size: 1.69rem;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.00938rem;
    border: none; /* Remove border */
    width: 11.0625rem;
    height: 4.3125rem;
    
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 1.4rem; /* Rounded corners */
    transition: background-color 0.3s ease; 
  }

  .resume__button:hover {
    background-color: #40a9e1e0; /* Hover background color */
  }

  .arrow{
    width: 12rem;
height: 8rem;
  }

 .social-icons {
    width: 22.875rem;
    height: 3.9375rem;
    display: flex;
    justify-content: space-between;
  }

  .resume__button a{
    text-decoration: none; 
  color: #FFF;
  background: none; 
  cursor: pointer; 
 
  border: none; 
  outline: none; 
  }

/* Media query for screens with a maximum width of 962px */
@media screen and (max-width: 962px) {
  .hero_container{
    flex-flow: column;
    align-items: center;
    height: 100vh;
  
    
  }
  .hero_image{
    
    height: 15rem;
    width: 15rem;
  }
  .hero_image img{
    border-radius: 100%;
  }
  
 
 .hero_text{
  
  padding: 0;
  width: auto;
  height: 32rem;
  flex-flow: column wrap;
  align-items: center;
 }
.wavehandsvg{
  padding: 0;
}
.hero__text{
  
  padding: 0;
  width: auto;
  height: 10rem;
}
.box{
  width: auto;
  height: 10rem;
}
.box .hero-text{
width: auto;
height: 5rem;

}
.box .text-wrapper{
  font-size: 2.7rem;
}
.box .professional-web{
  width: auto;
height: auto;
font-size: 2.7rem;
font-weight: 700;
text-align: center;

}
.resume_section{
  padding: 0;
  width: 100%;
 justify-content: center;
 height: auto;
  
}
.arrow{
  display: none;
}

}


