.card_container{
    display: flex;
 
    background: #FFFCFC;
    width: 15rem;
    height: 25.5rem;
    border-radius: 0.6rem;
    border: 1.2px solid #EFEDED;
    box-shadow: 0.4px 3px 8px 1.5px rgba(203, 161, 229, 0.86);
}

.project__card{
   
   
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
    align-items: center;
    width: 100%;
    height: 27rem;
}

.image_container {
   
    width: 13.2rem;
    height: 10rem;
    border-radius: 1rem;
    
}

.circle__icon{
    position: relative;
    top: -70% ;
    left: 30%;
    border-radius: 50%;
    width: 1.875rem;
height: 1.625rem;
background-color: #000;
}

.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem;
}



.project_tag{
    
    text-align: center;
     
    position: relative;
    top: -13rem;
    width: 4.9rem;
    height: 1.8rem;
border-radius: 0.5rem 0.5rem 0rem 0rem;
border: 1.2px solid #EFEDED;
color: #000;
font-family: 'DM Sans-bold', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01rem;
  

}
.reacttext{
    padding-top: 0.4rem;
}


.project_title{
   
    width: 10rem;
height: 2rem;
color: #000;
text-align: center;
font-family: 'DM Sans-bold', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.01125rem;
}

.project_description{
    
    width: 12.06294rem;
    height: 6.67463rem;
    color: #7B8495;
    font-family: 'DM Sans', sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.01rem;
}

.card_container:hover{
    box-shadow: 0 0 25px rgba(0,0,0,.2);
}
