.projects_section{
   display: flex;
   flex-flow: column ;
   width: 100%;
    height: 55rem;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    justify-content: space-between;

}

.section_title{
    width: 47.25rem;
height: 10.0625rem;
display: flex;
justify-content: center;
flex-flow: row wrap;

}

.projects_text{
    color: #FF5679;
    text-align: center;
    font-family: 'DM Sans-bold', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
}

.defines_progress_text{
    padding-left: 0.3rem;
    color: #000000;
    text-align: center;
    font-family: 'DM Sans-bold ', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
}

.explore_journey_text{
    color: #FF5679;
    text-align: center;
    font-family: 'DM Sans-bold', sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03125rem;
}

.project_cards_section{
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: start;
    width: 82.875rem;
height: 35rem;
 
 
 scroll-behavior: smooth;
  overflow: hidden;
  
}


/* Media query for screens with a maximum width of 962px */
@media screen and (max-width: 962px) {
 
  .section_title{
    width: 100%;
    height: auto;
  }
  .projects_text{

   font-size: 2.4rem;
  }
  .defines_progress_text{
    font-size: 1.9rem;
    text-align: left;

  }
  .explore_journey_text{
    font-size: 1.9rem;
  }
  .project_cards_section{
    width: 75%;
    height: auto;
    overflow: hidden;
    flex-flow: row;
    justify-content: start;
    margin: 2rem;
    padding: 0;
    scroll-behavior: smooth;
  }
  }
  