.skills_container{

width: 100%;
height: 46.25rem;
display: flex;
flex-flow: column wrap;
align-items: center;

}

.skills_text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 33.8125rem;
height: 7.5625rem;
color: #FF5679;
text-align: center;
font-family: 'DM Sans-semibold', sans-serif;
font-size: 2.1875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.02188rem;
}

.skills_and_experience_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64.875rem;
    height: 27.1875rem;
}

.left_icon_container{
    width: 11.5625rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.experience_card{
    width: 26rem;
    height: 15.1875rem;
    border-radius: 2.9375rem;
     background: #FFF;
box-shadow: 0px 2px 50px 20px rgba(55, 47, 47, 0.25);
}

.right_icon_container{
    width: 11.5625rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.skills_icon_and_text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 7rem;
height: 6.25rem;
border-radius: 0.7rem;
background: #FFF;
box-shadow: 0px 1px 25px 10px rgba(227, 125, 198, 0.25);
}

.iconofskill img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.skills_icon_and_text_middle{
    width: 7rem;
    height: 6.25rem;
    border-radius: 0.7rem;
    background: #FFF;
    box-shadow: 0px 2px 50px 20px rgba(227, 125, 198, 0.25);
    align-self: flex-start;
}

.skills_icon_and_text_middle_right{
    width: 7rem;
    height: 6.25rem;
    border-radius: 0.7rem;
    background: #FFF;
    box-shadow: 0px 2px 50px 20px rgba(227, 125, 198, 0.25);
    align-self: flex-end;
}
.iconofskill{
padding-top: 0.3rem;
width: 3.8125rem;
height: 3.875rem;
border-radius: 50%;
}
.textofskill{
    padding-bottom: 0.2rem;
    color: #FF5679;
text-align: center;
font-family: 'DM Sans', sans-serif;
font-size: 1.1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.01563rem;
}

/* Media query for screens with a maximum width of 962px */
@media screen and (max-width: 962px) {
    .skills_container {
        margin-top: 4rem;
        width: 100%;
    height: 35rem;
    display: flex;
    flex-wrap: wrap;
    }
  
    .skills_text {
     width: auto;
     height: auto;
     margin: 1rem;
    }
  
    .skills_and_experience_container {
        margin-top: 2rem;
        width: auto;
        height: 25rem;
     display: flex;
     flex-flow: column;
     
    }
  
    .left_icon_container,
    .right_icon_container {
      margin: 1rem;
        width: 22rem;
        height: 15rem;
     display: flex;
     flex-flow: row;


    }
  
    .experience_card {
    
     height: 25rem;
     width: 15rem;
    }
  
    .skills_icon_and_text,
    .skills_icon_and_text_middle,
    .skills_icon_and_text_middle_right {
      /* Adjust styles as needed */
    height: 4rem;
    width: 4rem;
    }
  
    .iconofskill {
      /* Adjust styles as needed */
      width: 2.5rem; /* Adjust icon size */
      height: 2.5rem; /* Adjust icon size */
    }
  
    .textofskill {
      /* Adjust styles as needed */
      font-size: 0.8rem; /* Adjust font size */
      text-align: center; /* Center align text */
    }
  }
  